<main class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Biking along rivers. <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">From a stream to a creek and then to a full-fledged river. Through breathtaking landscapes. Crossing countries, regions and cultures. Meeting people from all walks of life. Strenghtening or building friendships. Biking along rivers has only two constants: the bike and the river. Everything else changes. Are your ready? Sign up/Sign in to view all routes, comment on these and add your favourite rides. </p>
  </div>
  <div class="col-md-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <h2>Featured routes</h2>
    <div class="carousel-inner">
      <% trips.forEach((trip, index) => { %>
        <div class="carousel-item <% if(index === 0) { %> active<% } %>">
        <img class="d-block w-100" src="<%= trip.image %>" alt="<%= trip.name %>">
        <div class="container">
        <div class="carousel-caption d-none d-md-block">
        <h4>River: <%= trip.river %></h4>
        <h4>Start point: <%= trip.startPoint %></h4>
        <h4>End point: <%= trip.endPoint %></h4>
        <a class="btn btn-sm btn-warning" href="/trips/<%= trip.id %>" role="button"><h3><%= trip.name %></h3></a>
        </div>
        </div>
        </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
          </a>
          <% }) %>
        </div>
      </div>
    </div>
    </main>
